body {
  background-color: rgb(247, 247, 247);
}

.container {
  margin: auto;
  width: 50%;
  //border: 1px solid black;

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 1% 0% 0% 0%;
  }
}

.sociais {
  width: 5%;
  display: inline-block;
}

.social {
  text-align: center;
  width: 100%;
  margin: auto;

  .logos {
    padding: 10px;
    justify-content: space-between;

    .logotipos {
      width: 13%;
      padding: 5px 29px;
      transition: all 200ms ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 4vh;
    text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;
  }
}

.ender {
  //border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 4vh;
  font-weight: bolder;
  text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;

  p {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }

  #maps {
    padding: 20px 0px;
    width: 13%;
    display: inline-block;
    transition: all 200ms ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 1089px) {
  .container {
    margin: auto;
    width: 70%;
    //border: 1px solid black;
  }

  .sociais {
    width: 5%;
    display: inline-block;
  }

  .social {
    text-align: center;
    width: 100%;
    margin: auto;

    .logos {
      padding: 10px;
      justify-content: space-between;

      .logotipos {
        width: 13%;
        padding: 5px 30px;
        transition: all 200ms ease-in;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    h2 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-size: 4vh;
      text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;
    }
  }

  .ender {
    //border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;

    p {
      margin: auto;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
    }

    #maps {
      padding: 20px 0px;
      width: 20%;
      display: inline-block;
      transition: all 200ms ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 811px) {
  .container {
    margin: auto;
    width: 70%;
    //border: 1px solid black;
  }

  .sociais {
    width: 5%;
    display: inline-block;
  }

  .social {
    text-align: center;
    width: 100%;
    margin: auto;

    .logos {
      padding: 10px;
      justify-content: space-between;

      .logotipos {
        width: 13%;
        padding: 5px 15px;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    h2 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-size: 4vh;
      text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;
    }
  }

  .ender {
    //border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;

    p {
      margin: auto;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
    }

    #maps {
      padding: 20px 0px;
      width: 20%;
      display: inline-block;
      transition: all 200ms ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 735px) {
  .container {
    margin: auto;
    width: 95%;
    //border: 1px solid black;
  }

  .sociais {
    width: 5%;
    display: inline-block;
  }

  .social {
    text-align: center;
    width: 100%;
    margin: auto;

    .logos {
      padding: 10px;
      justify-content: space-between;

      .logotipos {
        width: 13%;
        padding: 5px 15px;
        
        &:hover {
          transform: none;

        }
      }
    }

    h2 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-size: 4vh;
      text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;
    }
  }

  .ender {
    //border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;

    p {
      margin: auto;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
    }

    #maps {
      padding: 20px 0px;
      width: 20%;
      display: inline-block;
      transition: all 200ms ease-in;

      &:hover {
        transform: none;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin: auto;
    width: 95%;
    //border: 1px solid black;
  }

  .sociais {
    width: 5%;
    display: inline-block;
  }

  .social {
    text-align: center;
    width: 100%;
    margin: auto;

    .logos {
      padding: 10px;
      justify-content: space-between;

      .logotipos {
        width: 13%;
        padding: 5px 10px;

        &:hover {
            transform:none;
          }
      }
    }

    h2 {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-size: 3vh;
      text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;
    }
  }

  .ender {
    //border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    text-shadow: rgb(255, 255, 255) 0em 0em 0.2em;

    p {
      margin: auto;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
    }

    #maps {
      padding: 20px 0px;
      width: 20%;
      display: inline-block;
      transition: all 200ms ease-in;

      &:hover {
        transform:none;
      }
    }
  }
}
